{% extends "template.html" %}
{% block styles %}
<link href='http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css' rel='stylesheet'
      type='text/css'>
{% endblock styles %}
{% block content %}
<div style="background: url(static/discover.jpg); background-size: cover; border-radius: 0;" class="jumbotron bg-cover text-white">
    <div class="container-fluid py-5 text-center">
        <h1 class="display-4 font-weight-bold">Discover Movies Now</h1>
        <p class="font-italic mb-0">Need help deciding what to watch? No problem. Just fill in the below and we will pick some movies for you!</p>
    </div>
</div>
{% endblock content %}
{% block scripts %}
{% endblock scripts %}