{% extends "template.html" %}
{% block styles %}
<link href='http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css' rel='stylesheet'
      type='text/css'>
{% endblock styles %}
{% block content %}
<div style="background: url(static/discover.jpg); background-size: cover; border-radius: 0; margin-bottom: 0;"
     class="jumbotron bg-cover text-white">
    <div class="container-fluid py-5 text-center">
        <h1 class="display-4 font-weight-bold">Discover Movies Now</h1>
        <p class="font-italic mb-0">Need help deciding what to watch? No problem. Just fill in the below and we will
            pick some movies for you!</p>
    </div>
</div>
<div class="container-fluid discover">
    <div class="row">
        <div class="col-10 mx-auto">
            <div class="bg-white rounded-lg shadow-md mt-5 p-5">
                <form method="post" action="">
                    <h3 class="display-4 m-5 text-center">Runtime</h3>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="number" class="form-control rounded-pill border shadow-sm" id="runtimeMin"
                                        placeholder="Min. Length" name="min_length">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="number" class="form-control rounded-pill border shadow-sm" id="runtimeMax"
                                        placeholder="Max. Length" name="max_length">
                            </div>
                        </div>
                    </div>
                    <h3 class="display-4 m-5 text-center">Release Year</h3>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="number" class="form-control rounded-pill border shadow-sm" id="yearMin"
                                        placeholder="Min. Year" name="min_year">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="number" class="form-control rounded-pill border shadow-sm" id="yearMax"
                                        placeholder="Max. Year" name="max_year">
                            </div>
                        </div>
                    </div>
                    <h3 class="display-4 m-5 text-center">Genres</h3>
                    <div class="form-group mb-0">
                        <select multiple class="form-control" id="genres" name="genres">
                            {% for item in genre_list %}
                            <option value="{{ item.id }}">{{ item.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <small class="text-muted mt-0">Use CTRL to select more than one genre!</small>
                    <div class="form-group mt-3 mb-0 ">
                        <select class="custom-select custom-select-sm" name="sort_by">
                            {% for item in sort_by %}
                            {% if item == 'popularity.desc' %}
                            <option selected value="{{ item }}">{{ item }}</option>
                            {% else %}
                            <option value="{{ item }}">{{ item }}</option>
                            {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                    <small class="text-muted mt-0">Sort By...</small><br>

                    <button type="submit" class="btn btn-primary mt-4">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
{% block scripts %}
{% endblock scripts %}