{% extends "template.html" %}
{% block content %}
<div class="container-fluid">
    <div class="row mb-5">
        {% for item in movies %}
            <div class="col-md-6 col-lg-3 py-1 d-flex align-items-stretch">
                <div class="card">
                    <img src="https://image.tmdb.org/t/p/original/{{ item.poster_path }}" class="card-img-top" style="width: 100%;"
                         alt="image">
                    <div class="card-body">
                        <h5 class="card-title">{{ item.original_title }}</h5>
                        <p class="card-text">{{ item.overview }}</p>
                        <a href="#" class="btn btn-sm btn-primary">More Info</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}