{% extends "template.html" %}
{% block content %}
<div class="jumbotron jumbotron-fluid text-center mb-0">
    <div class="container">
        <img src="{{ url_for('static', filename='logo.png') }}" id="website-logo">
        <p class="lead font-italic text-muted p-3 italic">Find all your favourite movies and television shows in one place. <br>
        Complete with television & movie tracking as well as comments, ratings and screenshots!
        </p>
        <p>
            <button type="button" class="btn btn-secondary m-2" id="movies"><i class="fas fa-ticket-alt mr-3"></i>Movies</button>
            <button type="button" class="btn btn-secondary m-2" id="television"><i class="fas fa-laptop-house mr-3"></i>Television</button>
        </p>
    </div>
</div>
<div class="container-fluid mt-3">
    <div class="row mb-5"  id="movie_tiles">
        {% for item in movies %}
        <div class="col-6 col-md-3 col-xl-2 py-2">
            <div class="card border-0 movie-card h-100" data-toggle="tooltip" title="{{ item.original_title }}">
                <a href="{{ url_for('movie', movie_id=item.id) }}">
                {% if item.poster_path is not none %}
                    <img src="https://image.tmdb.org/t/p/w500/{{ item.poster_path }}" class="card-img-top movie-header">
                {% else %}
                    <img src="{{ url_for('static', filename='background.jpg') }}" class="card-img-top movie-header">
                {% endif %}
                    </a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}