{% extends "template.html" %}
{% block content %}
<!-- BANNER -->
<div class="jumbotron jumbotron-fluid mb-0" id="banner"
     style="background-image: url(https://image.tmdb.org/t/p/original/{{ movie.backdrop_path }}); background-size: cover; height: 400px;">
    <div class="container">
    </div>
</div>
<!-- INFO -->
<div class="container-fluid" id="movie_info">
    <div class="row">
        <div class="col-sm-12 col-lg-3 text-center">
            <img src="https://image.tmdb.org/t/p/w185/{{ movie.poster_path }}" id="icon">
        </div>
        <div class="col-sm-12 col-lg-3 align-self-center text-left">
            <p><span class="font-weight-bold h2">{{ movie.original_title }}</span></p>
            <p>{{ movie.overview }}</p>
        </div>
        <div class="col-sm-12 col-lg-3 align-self-center" id="movie_basic_data">
            <p>
                <span class="font-weight-bold">Genre:</span>
                {% for genre in movie.genres %}
                {{ genre['name'] }}{{ "," if not loop.last }}
                {% endfor %}
            </p>
            <p>
                <span class="font-weight-bold">Runtime:</span>
                {{ movie.runtime }} minutes
            </p>
            <p>
                <span class="font-weight-bold">Release Date:</span>
                {{ movie.release_date }}
            </p>
        </div>
        <div class="col-sm-12 col-lg-3 align-self-center">
            {% if user_movies.watch_list == False or user_movies is none %}
                <a href="{{ url_for('watchlist_add', movie_id=movie.id) }}" class="btn btn-primary mb-2"><i
                        class="fas fa-plus mr-2"></i>Add To Watchlist</a><br>
            {% endif %}
            {% if current_user.is_authenticated and user_movies.watch_list == True %}
                <a href="{{ url_for('watchlist_remove', movie_id=movie.id) }}" class="btn btn-danger mb-2"><i
                        class="fas fa-minus mr-2"></i>Remove From Watchlist</a><br>
            {% endif %}
        </div>
    </div>
</div>
<!-- CAST SLICK CAROUSEL -->
<div class="container-fluid slider">
    <div class="slider-box">
        <i class="fas fa-caret-left fa-2x back"></i>
        <i class="fas fa-caret-right fa-2x forward"></i>
        <div class="wrapper">
            {% for item in movie_credits %}
            <div class="post">
                <img src="https://image.tmdb.org/t/p/w500/{{ item.profile_path }}" class="post-image">
                <div class="post-info text-center">
                    <span class="font-weight-bold">{{ item.name }}</span><br>
                    <span class="text-muted">{{ item.character }}</span>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
<!-- VIDEO -->
<div class="iframe-container">
    <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/{{ movie_video.key }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
<!-- REVIEWS -->
<div>

</div>
<!-- COMMENTS -->
<div class="container">
    <div class="row">
        <div class="col">
            <!-- /.card -->
            <div class="card card-outline-secondary my-3">
                <div class="card-header">
                    Movie Comments
                </div>
                <div class="card-body">
                    {% for post in posts %}
                    <p>{{ post.message }}</p>
                    <small class="text-muted">Posted by {{ post.author.username }} on {{
                        post.date_time.strftime('%Y-%m-%d') }}
                    </small>
                    <hr>
                    {% endfor %}
                    <form method="POST" action="">
                        {{ form.hidden_tag() }}
                        <fieldset class="form-group">
                            <div class="form-group">
                                {{ form.comment.label(class="form-control-label") }}
                                {% if form.comment.errors %}
                                {{ form.comment(class="form-control form-control-lg is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.comment.errors %}
                                    <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                                {% else %}
                                {{ form.comment(class="form-control form-control-lg") }}
                                {% endif %}
                            </div>
                        </fieldset>
                        <div class="form-group pt-2">
                            {{ form.submit(class="btn btn-primary") }}
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}