{% extends "template.html" %}
{% block content %}

<!-- COMMENTS -->
<div class="container">
    <div class="row">
      <div class="col">
        <!-- /.card -->
        <div class="card card-outline-secondary my-3">
          <div class="card-header">
            Movie Comments
          </div>
          <div class="card-body">
              {% for post in posts %}
            <p>{{ post.message }}</p>
            <small class="text-muted">Posted by {{ post.author.username }} on {{ post.date_time.strftime('%Y-%m-%d') }}</small>
            <hr>
              {% endfor %}
              <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <div class="form-group">
                    {{ form.comment.label(class="form-control-label") }}
                    {% if form.comment.errors %}
                        {{ form.comment(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.comment.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.comment(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                 </fieldset>
                <div class="form-group pt-2">
                    {{ form.submit(class="btn btn-primary") }}
                </div>
              </form>
          </div>
        </div>
      </div>
    </div>
</div>
 {% endblock content %}