{% extends "template.html" %}
{% block content %}
<div class="container-fluid mt-3" id="movie_tiles">
    <div class="row mb-5">
        {% for item in search_results %}
        <div class="col-6 col-sm-4 col-md-3 col-xl-2 py-2">
            <div class="card border-0 h-100">
                {% if item.poster_path is not none %}
                    <img src="https://image.tmdb.org/t/p/w500/{{ item.poster_path }}" class="card-img-top movie-header h-100">
                {% else %}
                    <img src="{{ url_for('static', filename='background.jpg') }}" class="card-img-top movie-header h-100">
                {% endif %}
                {% if item.media_type == "movie" %}
                    <a href="{{ url_for('movie', movie_id=item.id) }}" class="stretched-link" data-toggle="tooltip" title="{{ item.original_title }}"></a>
                {% else %}
                    <a href="{{ url_for('television', television_id=item.id) }}" class="stretched-link" data-toggle="tooltip" title="{{ item.original_name }}"></a>
                {% endif %}
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock content %}