<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Muli&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.16/dist/summernote.min.css" rel="stylesheet">
    {% block styles %}{% endblock %}
    <title>{{ title }}</title>
</head>
<body>
{% if not hide_navbar %}
<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="{{ url_for('index') }}">
        <img src="{{ url_for('static', filename='logo2.png') }}" width="40" height="40" alt="">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02"
            aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item">
                <a class="nav-link" data-placement="bottom"
                   href="{{ url_for('index') }}"><i class="fas fa-home mr-1"></i>Home</a>
            </li>
            {% if current_user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('account') }}"><i
                        class="far fa-user-circle mr-1"></i>Account</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('watchlist_movies') }}"><i
                        class="fas fa-film mr-1"></i>My Movies</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('watchlist_tv') }}"><i
                        class="fas fa-tv mr-1"></i>My TV</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('logout') }}"><i
                        class="fas fa-sign-out-alt mr-1"></i>Logout</a>
            </li>
            {% else %}
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('register') }}"><i
                        class="fas fa-user-plus mr-1"></i>Register</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('login') }}"><i
                        class="fas fa-sign-in-alt mr-1"></i>Login</a>
            </li>
            {% endif %}
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('discover') }}"><i
                        class="fas fa-lightbulb mr-1"></i>Discover</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0" action="{{ url_for('search') }}">
            <input class="form-control mr-sm-2" name="search" type="search" placeholder="Search">
            <button class="btn btn-outline-light my-2 my-sm-0" type="submit"><i class="fas fa-search"></i></button>
        </form>
    </div>
</nav>
<span style="display:block; height: 66px;"></span>
{% endif %}
<!-- Error messages -->
{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
{% for category, message in messages %}
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-12 text-center alert alert-{{ category }} mb-0">
            {{ message }}
        </div>
    </div>
</div>
{% endfor %}
{% endif %}
{% endwith %}

{% block content %}{% endblock %}

{% if footer is not defined %}
  <footer class="py-4 bg-dark text-white">
    <div class="container text-center">
      <img class="px-2" src="{{ url_for('static', filename='tmdb.svg') }}" style="width: 150px;">
      <small>This product uses the TMDb API but is not endorsed or certified by TMDb</small>
    </div>
  </footer>
{% endif %}

<!-- <span style="display:block; height: 1000px;"></span> -->

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS, then Slick, then app.js -->
<script
  src="https://code.jquery.com/jquery-3.4.1.js"
  integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
  crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
<script src="{{ url_for('static', filename='app.js') }}"></script>
<script src="https://cdn.jsdelivr.net/npm/summernote@0.8.16/dist/summernote.min.js"></script>
{% block scripts %}{% endblock %}
</body>
</html>
