<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
    <title>Hello, world!</title>
  </head>
  <body>
   <div class="pos-f-t">
  <div class="row bg-dark">
    <div class="collapse col-md-6" id="navbarToggleExternalContent">
    <div class="p-5">
      <h4 class="text-white">About</h4>
      <span class="text-muted">
        Lorem ipsum dolor sit amet, usu ea vide civibus. In sed purto delectus, ne has iuvaret postulant reprimique. Id equidem dolorem usu. Mea saepe possit integre at, vitae conceptam mea an. Nam fugit lucilius te, an mediocrem adversarium quo. Sea ea noluisse sapientem, et vix aliquam propriae philosophia, qui dicit antiopam cu.
      </span>
    </div>
      </div>
    <div class="collapse col-md-6" id="navbarToggleExternalContent2">
    <div class="p-5">
      <h4 class="text-white">Links</h4>
        {% if current_user.is_authenticated %}
            <a href="{{ url_for('logout') }}" class="text-white py-1">Logout</a><br>
            <a href="{{ url_for('account') }}" class="text-white py-1">Account</a><br>
        {% else %}
            <a href="{{ url_for('login') }}" class="text-white py-1">Sign In</a><br>
            <a href="{{ url_for('register') }}" class="text-white py-1">Sign Up</a><br>
        {% endif %}
        <a href="#" class="text-white py-1">FAQ's</a><br>
        <a href="#" class="text-white py-1">Contact</a><br>
    </div>
  </div>
  </div>
  <nav class="navbar navbar-dark bg-dark navbar-fixed-top">
    <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent,#navbarToggleExternalContent2" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </nav>
</div>

    <div class="jumbotron jumbotron-fluid text-center">
        <div class="container">
            <h1 class="jumbotron-heading">Movie Picker</h1>
          <p class="lead text-muted p-3">Lorem ipsum dolor sit amet, usu ea vide civibus. In sed purto delectus, ne has iuvaret postulant reprimique. Id equidem dolorem usu. Mea saepe possit integre at, vitae conceptam mea an. Nam fugit lucilius te, an mediocrem adversarium quo. Sea ea noluisse sapientem, et vix aliquam propriae philosophia, qui dicit antiopam cu.</p>
        </div>
    </div>
        <!-- Error messages -->
     {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
          {% for category, message in messages %}
            <div class="container mb-5">
              <div class="row justify-content-center">
                  <div class="col-12 text-center alert alert-{{ category }}">
                     {{ message }}
                  </div>
               </div>
            </div>
          {% endfor %}
        {% endif %}
    {% endwith %}

      {% block content %}{% endblock %}

   <!-- <span style="display:block; height: 1000px;"></span> -->
   <footer id="sticky-footer" class="py-4 bg-dark text-white-50">
    <div class="container text-center">
      <small>Copyright &copy; 2020</small>
    </div>

  </footer>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>
