#icon{
border-radius: 10px;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
position: relative;
top: -50px;}

#movie_info{
font-family: 'Muli', sans-serif;
}

.card-img-top {
    width: 100% !important;
    height: 15vw !important;
    object-fit: cover !important;
}

div.scrollmenu {
  background-color: #333;
  overflow: auto;
  white-space: nowrap;
}

div.scrollmenu a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

::-webkit-scrollbar {
  display: none;
}