{% for episode in episodes %}
<div class="card m-1 episode-card" style="width: 18rem;">
    {% if episode['still_path'] is none %}
    <img class="card-img-top episode" src="{{ url_for('static', filename='episode_background.jpg') }}"
         alt="Card image cap">
    {% else %}
    <img class="card-img-top episode" src="https://image.tmdb.org/t/p/w500/{{ episode['still_path'] }}"
         alt="Card image cap">
    {% endif %}
    <div class="card-body">
        <span class="font-weight-bold">{{ episode['name'] }}</span>
        <span class="font-weight-bold">S{{ episode['season_number'] }}E{{ episode['episode_number'] }}</span><br>
        <span class="text-muted">{{ episode['air_date'] }}</span>
    </div>
</div>
{% endfor %}