{% extends "template.html" %}
{% block content %}

<div class="row px-5 py-5">
  <div class="col-4">
    <div class="list-group" id="list-tab" role="tablist">
      <a class="list-group-item list-group-item-action active" id="list-rec1-list" data-toggle="list" href="#list-rec1" role="tab" aria-controls="home">{{ movie.rec_1 }}</a>
      <a class="list-group-item list-group-item-action" id="list-rec2-list" data-toggle="list" href="#list-rec2" role="tab" aria-controls="home">{{ movie.rec_2 }}</a>
      <a class="list-group-item list-group-item-action" id="list-rec3-list" data-toggle="list" href="#list-rec3" role="tab" aria-controls="home">{{ movie.rec_3 }}</a>
      <a class="list-group-item list-group-item-action" id="list-rec4-list" data-toggle="list" href="#list-rec4" role="tab" aria-controls="home">{{ movie.rec_4 }}</a>
      <a class="list-group-item list-group-item-action" id="list-rec5-list" data-toggle="list" href="#list-rec5" role="tab" aria-controls="home">{{ movie.rec_5 }}</a>
      <a class="list-group-item list-group-item-action" id="list-rec6-list" data-toggle="list" href="#list-rec6" role="tab" aria-controls="home">{{ movie.rec_6 }}</a>

    </div>
  </div>
  <div class="col-8">
    <div class="tab-content" id="nav-tabContent">
      <div class="tab-pane fade show active" id="list-rec1" role="tabpanel" aria-labelledby="list-rec_1-list">
        <div class="row">
          <div class="col-2 px-2">
              <img src="http://image.tmdb.org/t/p/w342{{ table.query.filter_by(title=movie.rec_1).first().poster_path }}" height="300"
              class="img-responsive"/>
          </div>
          <div class="col px-4">
            <h3>Synopsis</h3>
            <p>
            {{ table.query.filter_by(title=movie.rec_1).first().overview }}
            </p>
            <p>
                <a href="https://www.imdb.com/title/{{ table.query.filter_by(title=movie.rec_1).first().imdb_id }}">
                  <img src="https://m.media-amazon.com/images/G/01/IMDb/BG_rectangle._CB1509060989_SY230_SX307_AL_.png" height="25">
                </a>
              </p>
          </div>
          <div class="col px-4">
            <h5>Rating: </h5> {{ (table.query.filter_by(title=movie.rec_1).first().vote_avg)|round(1) }}
            <p></p><h5>Release: </h5> {{ table.query.filter_by(title=movie.rec_1).first().date_released.strftime('%Y-%m-%d') }}</p>
          </div>
        </div>
      </div>
      <div class="tab-pane fade" id="list-rec2" role="tabpanel" aria-labelledby="list-rec_2-list">
      </div>
      <div class="tab-pane fade" id="list-rec3" role="tabpanel" aria-labelledby="list-rec_3-list">...</div>
      <div class="tab-pane fade" id="list-rec4" role="tabpanel" aria-labelledby="list-rec_4-list">...</div>
      <div class="tab-pane fade" id="list-rec5" role="tabpanel" aria-labelledby="list-rec_5-list">...</div>
      <div class="tab-pane fade" id="list-rec6" role="tabpanel" aria-labelledby="list-rec_6-list">...</div>
    </div>
  </div>
</div>
{% endblock content %}