{% extends 'template.html' %}
{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-4 d-none d-md-flex background_image" style="background-image: url(/static/images/account.jpg);"></div>
        <div class="col-md-8 bg-light">
            <div class="login_column d-flex align-items-center py-5">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-10 col-xl-7 mx-auto">
                            <h3 class="display-4">Update Password</h3>
                            <form method="POST" action="">
                    {{ form.hidden_tag() }}
                    <fieldset class="form-group">
                        <div class="form-group">
                            {% if form.email.errors %}
                            {{ form.email(class="form-control rounded-pill border shadow-sm is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.email.errors %}
                                <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                            {% else %}
                            {{ form.email(class="form-control rounded-pill border shadow-sm mt-4", readonly=true) }}
                            {% endif %}
                        </div>
                        <div class="form-group">
                            {% if form.current_password.errors %}
                            {{ form.current_password(class="form-control rounded-pill border shadow-sm is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.password.errors %}
                                <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                            {% else %}
                            {{ form.current_password(class="form-control rounded-pill border shadow-sm mt-4", placeholder="Current Password") }}
                            {% endif %}
                        </div>
                        <div class="form-group">
                            {% if form.password.errors %}
                            {{ form.password(class="form-control rounded-pill border shadow-sm is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.password.errors %}
                                <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                            {% else %}
                            {{ form.password(class="form-control rounded-pill border shadow-sm mt-4", placeholder="New Password") }}
                            {% endif %}
                        </div>
                        <div class="form-group">
                            {% if form.confirm_password.errors %}
                            {{ form.confirm_password(class="form-control rounded-pill border shadow-sm is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.confirm_password.errors %}
                                <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                            {% else %}
                            {{ form.confirm_password(class="form-control rounded-pill border shadow-sm mt-4", placeholder="Confirm Password") }}
                            {% endif %}
                        </div>
                        <div class="form-group pt-2">
                            {{ form.submit(class="btn btn-primary rounded-pill btn-block text-uppercase") }}
                        </div>
                    </fieldset>
                </form>








                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}